body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	
	font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	  
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.map {
	height: 100%;
	width: 100%;
	position: relative;
}

.userInterface {
	position: absolute;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 16px;
	top: 6%;
	left: 0;
	padding: 8px;
	margin: 16px;
	height: calc(100% - 102px);
	width: min(425px, 100%);

	background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}

.dark {
	filter: brightness(45%);	
}

.dsclogo {
	position: absolute;
	right: 2%;
	bottom: 0;
	margin: 20px;
	height: 50px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.dsclogo img {
	height: 100%;
}

.dsclogo .text {
	padding-left: 10px;
	color: rgb(92, 92, 92);
}

#small {
	height: 20px;

}